MONGODB_URL="mongodb://localhost:27017/masterchef?readPreference=primary&appname=MongoDB%20Compass&directConnection=true&ssl=false"

INFURA_URL = 
CONTRACT_ADDRESS = 0xB80F9a4cf1D05f5EAa8526822ecB33420c72C23f
ADMIN_PUBLIC_KEY = 
ADMIN_PRIVATE_KEY = 
USER_PUBLIC_KEY = 